@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

/*#B949E6- ROXO
#C554DE-LILAS
#C554DE-ROSA*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: linear-gradient(to right ,   #B949E6, #C554DE, #C554DE);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1{
    font-family: "Emblema One", system-ui;
    font-size: 2em;
}

header a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 1.3em;
    font-weight: bold;
}
