@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

/*#B949E6- ROXO
#C554DE-LILAS
#C554DE-ROSA*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f5f2f2;
}

header{
    background-image: linear-gradient(to right ,   #aa17e4, #C554DE,#e07ae9);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header h1{
    font-family: "Emblema One", system-ui;
    font-size: 2em;
}

header a{
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 1.3em;
    font-weight: bold;
}

.sobre img{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    padding: 10px;
}

h2{
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: #B949E6;
    border-bottom: 2px solid #B949E6;
}

p{
    padding: 10px;
    text-align: justify;
}

.produtos img{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    padding: 10px;
}

.itens, .itens p{
    text-align: center;
}

.itens h3{
    margin-bottom: 10px;
}

.itens button{
    background-color: #aa17e4;
    color: white;
    font-weight: bold;
    padding: 7px;
    margin-bottom: 20px;
    width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.itens button:hover{
    background-color: #7f0fac;
}
